
.checkers-field{
   
    width: 320px;
    height: 320px;

    text-align: center;
    background-color: rgb(62, 0, 0);
    
}

.top-words{
    height: 5px;
    text-align: center;

    background-color:black;
}

.word{
    /* width: 30px; */

    color: rgb(254, 254, 254);
    font-size: smaller;
}

.top_words > td {
    width: 30px;
}

.fields{
    height: 37px;
}

.row__first-color_black> td:nth-child(odd) {
    background-color: black;
    width: 30px;
}

.row__first-color_black > td:nth-child(even){
    background-color: white;
    width: 30px;
}

.row__first-color_white > td:nth-child(even) {
    background-color: black;
    width: 30px;
}

.row__first-color_white > td:nth-child(odd) {
    background-color: white;
    width: 30px;
}

.move_option{
    border: 3px double rgb(255, 255, 153);
    box-sizing: border-box;
}

.move_option_beat{
    border: 3px double rgb(252, 132, 4);
    box-sizing: border-box;
}